<div class="bgcolor-white">
  <div class="m-10 pt-10 pb-10">
    <h2 class="color-darkgray caps txt-center m-10">Log Working Hours</h2>
      <div>
        <%= form_with model: @time_spent, scope: "loghrs", class: ' color-darkgray txt-center' do |f| %>
          <div>
            <%= f.label :name, "Subject" %>
            <%= f.text_field :name %> <br><br>
            <%= f.label :amount, "Hours" %>
            <%= f.text_field :amount %> <br><br>
            <%#= select_tag(:group_name, options_for_select(@grp)) %>
            <%= f.collection_check_boxes :group_id, @grp, :id, :name %>

            <br><br>
            <div class="bgcolor-green h-50-px"><%= f.submit "Submit", class: "caps border-w-1px border-white border-solid m-10 pl-40 pr-40  pt-5 pb-5 color-gray bgcolor-green" %></div>
            </div>
        <% end %>
      </div>
  </div>
</div>