<div class="bgcolor-white">
  <div class="m-10 pt-10 pb-10">
    <h2 class="color-darkgray caps txt-center m-10">Log Working Hours</h2>
      <div>
        <%= form_with model: @time_spent, scope: "loghrs", class: ' color-darkgray ' do |f| %>
          <div>
            <%= f.label :name, "Subject" %>
            <%#= f.text_field :name %> 
            <%= f.select(:name, options_for_select([['Science'], ['Maths'], ['Physical Education'], ['Arts & Crafts']])) %>
            
            <br><br>
            <%= f.label :amount, "Duration(mins)" %>
            <%= f.text_field :amount, class: "w-120-px" %> <br><br>
            
            <ul>
                <%= f.collection_check_boxes :group_id, @grp, :id, :name do |b| %> 
                      <li class="m-10 p-10"><%= b.label { b.check_box + b.text } %> </li>
                        <% end %>
            </ul>

            <br><br>
            <div class="bgcolor-green h-50-px txt-center"><%= f.submit "Submit", class: "caps border-w-1px border-white border-solid m-10 pl-40 pr-40  pt-5 pb-5 color-gray bgcolor-green" %></div>
            </div>
        <% end %>
      </div>
  </div>
</div>