<div class="bgcolor-white">
  <div class="m-10 pt-10 pb-10">
    <h2 class="color-darkgray caps txt-center m-10">Log Working Hours</h2>
      <div>
        <%= form_with model: @time_spent, scope: "loghrs", class: ' color-darkgray ' do |f| %>
          <div>
            <%= f.label :name, "Task" %>
            <%#= f.text_field :name %>
            <%= f.select(:name, options_for_select([['Planning'], ['Checking'], ['Teacher Training']])) %>
             <br><br>
            <%= f.label :amount, "Duration(mins)" %>
            <%= f.text_field :amount, class: "w-120-px" %> <br><br>
          
            <div class="txt-center bgcolor-green h-50-px"><%= f.submit "Submit", class: "caps border-w-1px border-white border-solid m-10 pl-40 pr-40  pt-5 pb-5 color-gray bgcolor-green" %></div>
            </div>
        <% end %>
      </div>
  </div>
</div>