<!DOCTYPE html>
<html>
  <head>
    <title>TeachersClockify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="h-100-px w-100-p  bgcolor-blue">
    <nav class="p-20">
              <% if logged_in? %>
                  <p>
                    <%= link_to "Logout", session_logout_path, method: :delete %>
                  </p>
                  <p>
                    <%= link_to "#{current_user.name}", user_show_path %>
                  </p>
                  
                  <% else %>
                  <p>
                    <%= link_to 'Log In', session_new_path %>
                  </p>
                  <p>
                    <%= link_to 'Register', user_new_path %>
                  </p>
              
					   <% end %>
    </nav>
  </header>
  <div>
  <%= show_anw %>
  </div>
    <%= yield %>
  </body>
</html>
