<!DOCTYPE html>
<html>
  <head>
    <title>TeachersClockify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://use.fontawesome.com/93b7dd2125.js"></script>
    <script src="https://kit.fontawesome.com/7787f36583.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="h-100-px w-100-p  bgcolor-blue">
    <nav class="pt-10 color-gray">
        <div class="d-inline">
           <%= icon_dis %>
        </div>
       <div class="float-r d-flex m-10 ">
            <%= nav_dis %>
        </div>

        <div class="m-10 txt-center"><%= topic %></div>

    </nav>

  </header>
    <div>
          <%= show_anw %>

    </div>
    
        <%= yield %>
  </body>
</html>
